<!-- Edit form -->
<div [appSpinner]="loading.active" spinnerSize="lg">
    @if (form && config) {
        <form [formGroup]="form" (ngSubmit)="submit()" (keydown.control.enter)="submit()">
            <fieldset [disabled]="loading.active || saving.active">
                <!-- Create a section editor for each group (config section) -->
                @for (group of form.controls | keyvalue; track group.key) {
                    <div class="pb-3">
                        <!-- Section name -->
                        <p class="fw-bold">{{ group.key | dynConfigSectionName }}</p>

                        <!-- Section items -->
                        <app-config-section-edit [formGroup]="$any(group.value)" [config]="config" [section]="group.key"
                                                 docsBasePath="configuration/backend/dynamic"/>
                    </div>
                }

                <!-- Buttons -->
                <div class="form-footer">
                    <a routerLink=".." class="btn btn-link" i18n="action">Cancel</a>
                    <button [appSpinner]="saving.active" type="submit" class="btn btn-primary" i18n="action">Save</button>
                </div>
            </fieldset>
        </form>
    }
</div>
