@if (domainUser) {
    <span class="badge rounded-pill" [ngClass]="userClass">
        @switch (userClass) {
            @case ('user-owner')     {<ng-container i18n>Owner</ng-container>}
            @case ('user-moderator') {<ng-container i18n>Moderator</ng-container>}
            @case ('user-commenter') {<ng-container i18n>Commenter</ng-container>}
            @case ('user-readonly')  {<ng-container i18n>Read-only</ng-container>}
        }
    </span>
}
