<!-- Heading -->
<h1 i18n="heading">Dashboard</h1>

<div [appSpinner]="loading.active" spinnerSize="lg">
    @if (totals) {
        <!-- Counters -->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-2" id="dashboard-totals">
            <!-- Users -->
            @if (totals.countUsersTotal >= 0) {
                <app-metric-card [value]="totals.countUsersTotal" [fullHeight]="true"
                                 label="Users" sublabel="total" i18n-label="metric-label|" i18n-sublabel="metric-sublabel|"/>
            }

            <!-- Domains -->
            @if (totals.countDomainsOwned; as c) {
                <app-metric-card [value]="c" [fullHeight]="true"
                                 label="Domains" sublabel="you own" i18n-label="metric-label|" i18n-sublabel="metric-sublabel|"/>
            }
            @if (totals.countDomainsModerated; as c) {
                <app-metric-card [value]="c" [fullHeight]="true"
                                 label="Domains" sublabel="you moderate" i18n-label="metric-label|" i18n-sublabel="metric-sublabel|"/>
            }
            <app-metric-card [value]="totals.countDomainsCommenter" [fullHeight]="true"
                             label="Domains" sublabel="you're commenter on" i18n-label="metric-label|" i18n-sublabel="metric-sublabel|"/>
            @if (totals.countDomainsReadonly; as c) {
                <app-metric-card [value]="c" [fullHeight]="true"
                                 label="Domains" sublabel="you're read-only on" i18n-label="metric-label|" i18n-sublabel="metric-sublabel|"/>
            }

            <!-- Pages moderated -->
            @if (totals.countPagesModerated; as c) {
                <app-metric-card [value]="c" [chartCounts]="domainPageCounts" [fullHeight]="true"
                                 label="Pages" sublabel="you moderate" chartColour="#fd4f8850" i18n-label="metric-label|" i18n-sublabel="metric-sublabel|"/>
            }

            <!-- Pages commented on -->
            @if (totals.countPagesCommented; as c) {
                <app-metric-card [value]="c" [fullHeight]="true"
                                 label="Pages" sublabel="you commented on" i18n-label="metric-label|" i18n-sublabel="metric-sublabel|"/>
            }

            <!-- Domain users -->
            @if (totals.countDomainUsers; as c) {
                <app-metric-card [value]="c" [chartCounts]="domainUserCounts" [fullHeight]="true"
                                 label="Domain users" sublabel="you manage" chartColour="#e3a41c50" i18n-label="metric-label|" i18n-sublabel="metric-sublabel|"/>
            }

            <!-- Comments total -->
            @if (totals.countComments; as c) {
                <app-metric-card [value]="c" [fullHeight]="true"
                                 label="Comments" sublabel="total" i18n-label="metric-label|" i18n-sublabel="metric-sublabel|"/>
            }

            <!-- Comments authored -->
            @if (totals.countOwnComments; as c) {
                <app-metric-card [value]="c" [fullHeight]="true"
                                 label="Comments" sublabel="you authored" i18n-label="metric-label|" i18n-sublabel="metric-sublabel|"/>
            }

            <!-- Commenters -->
            @if (totals.countCommenters; as c) {
                <app-metric-card [value]="c" [fullHeight]="true"
                                 label="Commenters" sublabel="total" i18n-label="metric-label|" i18n-sublabel="metric-sublabel|"/>
            }
        </div>

        <!-- Stats chart, only if it's a superuser or there are any owned domains -->
        @if (principal?.isSuperuser || totals.countDomainsOwned) {
            <div class="mt-3" id="dashboard-daily-stats">
                <h2 i18n="heading">Daily statistics</h2>
                <app-stats-chart domainId=""/>
            </div>
        }
    }

    <!-- Placeholder when no data -->
    @if (!totals) {
        <app-no-data/>
    }
</div>
