<!-- Header with the badge -->
<header class="d-flex flex-wrap align-items-center mb-3">
    <h1 class="mb-0 me-2" i18n="heading">SSO secret</h1>
    <app-domain-badge/>
</header>

@if (domainMeta?.domain; as domain) {
    <!-- Info text -->
    <p i18n>Use this page to (re)generate an SSO secret for this domain.</p>

    <div class="form-label colon" i18n>SSO secret</div>
    <div class="mb-3 p-2 ps-3 border rounded bg-secondary-subtle d-flex justify-content-between align-items-center">
        <span id="sso-secret-value">
            <!-- Secret excerpt -->
            @if (ssoSecret) {
                <code>{{ ssoSecret.substring(0, 4) }}{{ '•'.repeat(10) }}</code>
            } @else if (domain.ssoSecretConfigured) {
                <!-- Secret already exists -->
                <span class="text-muted" i18n>(hidden)</span>
            } @else {
                <!-- No secret yet -->
                <span class="text-muted" i18n>(not generated)</span>
            }
        </span>

        <!-- Copy button -->
        <button [disabled]="!ssoSecret" [appCopyText]="ssoSecret" type="button"
                class="btn btn-outline-secondary ms-2" ngbTooltip="">
            <fa-icon [icon]="faCopy" class="me-1"/>
            <ng-container i18n>Copy</ng-container>
        </button>
    </div>

    <!-- Once-available warning -->
    @if (ssoSecret) {
        <div class="text-danger fade-in" id="sso-secret-once-warning">
            <fa-icon [icon]="faExclamationTriangle" class="me-1"/>
            <ng-container i18n>For security reasons, this secret is only available for you this time. You won't be able to retrieve it again. Make sure to save it somewhere safe.</ng-container>
        </div>
    }

    <!-- Buttons -->
    @if (!ssoSecret) {
        <div>
            <!-- Regenerate button -->
            <button [appSpinner]="generating.active" (click)="generateSsoSecret()" type="button" class="btn btn-primary">
                <fa-icon [icon]="faRotate" class="me-1"/>
                <ng-container i18n>Generate new secret</ng-container>
            </button>

            <!-- Warning when a secret already exists -->
            @if (domain.ssoSecretConfigured) {
                <div class="form-text" id="sso-secret-regen-warning">
                    <fa-icon [icon]="faExclamationTriangle" class="me-1"/>
                    <ng-container i18n>Regenerating the secret will require reconfiguring your SSO provider.</ng-container>
                </div>
            }
        </div>
    }
}
