<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="user-scalable=no,initial-scale=1">
    <title>Comentario: {{ T "resetYourPassword" }}</title>
</head>
<body class="content" style="font-size: 14px; background: white; font-family: sans-serif; padding: 0; margin: 0;">
    <div style="max-width: 600px; margin-top: 16px;">
        <!-- Heading with logo -->
        <div style="text-align: center; margin-top: 12px; padding: 8px; border-bottom: 1px solid #eee;">
            <img src="cid:logo.png" alt="Comentario" style="border: 0; max-width: 100%; width: 500px; height: auto;">
        </div>

        <!-- Body -->
        <div style="padding: 16px;">
            <p style="margin-bottom: 16px">{{ T "helloName" .Name }}!</p>
            <p style="margin-bottom: 16px">{{ T "pwdResetRequest" }} {{ T "clickButtonBelow" }}</p>

            <!-- Action button -->
            <p style="margin: 36px; text-align: center;">
                <a href="{{ .ResetURL }}"
                   style="background-color: #4950d8; padding: 12px 16px; border-radius: 2px; color: #ffffff; text-decoration: none; font-size: 16px; box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, .02);">{{ T "actionResetPassword" }}</a>
            </p>
        </div>

        <!-- Footer -->
        <div class="footer" style="margin: 16px 0;">
            <p style="padding: 12px 0; color: #868e96; font-size: 13px; text-align: left; border-top: 1px solid #eeeeee; border-bottom: 1px solid #eeeeee;">
                {{- T "pwdResetExplanation" }} {{ T "ignoreEmail" -}}
            </p>
            <p style="padding-top: 6px;">
                <a href="https://comentario.app/" style="float: right; font-weight: bold; color: #868e96; font-size: 13px; text-decoration: none;">{{ T "poweredBy" }}</a>
            </p>
        </div>
    </div>
</body>
</html>
