@switch (item?.datatype) {
    @case ('bool') {
        <app-checkmark [value]="item!.value === 'true'"/>
    }
    @case ('int') {
        <span>{{ item?.value | number }}</span>
    }
    @default {
        <span>{{ item?.value }}</span>
    }
}
