<!-- Header with the badge -->
<header class="d-flex flex-wrap align-items-center mb-3">
    <h1 class="mb-0 me-2" i18n="heading">Statistics</h1>
    <app-domain-badge></app-domain-badge>
</header>

<!-- Stats chart -->
<app-stats-chart [domainId]="(domainMeta$ | async)?.domain?.id"></app-stats-chart>
