<!-- User link if the route is provided -->
@if (user && linkRoute) {
    <a [routerLink]="linkRoute">
        <app-user-avatar [user]="user" size="S" class="me-1"/>
        <span class="user-name">{{ userName || user.name }}</span>
        @if (user.email) {
            &ngsp;<ng-container>({{ user.email }})</ng-container>
        }
    </a>

<!-- Existing user -->
} @else if (user) {
    <app-user-avatar [user]="user" size="S" class="me-1"/>
    <span class="user-name">{{ userName || user.name }}</span>

<!-- Nonexistent (deleted) user -->
} @else {
    <i class="user-name text-muted" i18n>(deleted user)</i>
}

<!-- Current user badge -->
<app-current-user-badge [userId]="user?.id" badgeClasses="ms-2"/>
